[LapisianEnchantAddValue]
WeaponStep00	=0	
WeaponStep01	=7	
WeaponStep02	=14
WeaponStep03	=21
WeaponStep04	=31
WeaponStep05	=41
WeaponStep06	=51
WeaponStep07	=64
WeaponStep08	=77
WeaponStep09	=90
WeaponStep10	=106
WeaponStep11	=122
WeaponStep12	=138
WeaponStep13	=157
WeaponStep14	=176
WeaponStep15	=195
WeaponStep16	=217
WeaponStep17	=239
WeaponStep18	=261
WeaponStep19	=286
WeaponStep20	=311
DefenseStep00	=0
DefenseStep01	=5
DefenseStep02	=10 
DefenseStep03	=15 
DefenseStep04	=20 
DefenseStep05	=25 
DefenseStep06	=30 
DefenseStep07	=35 
DefenseStep08	=40 
DefenseStep09	=45 
DefenseStep10	=50 
DefenseStep11	=55 
DefenseStep12	=60 
DefenseStep13	=65 
DefenseStep14	=70 
DefenseStep15	=75 
DefenseStep16	=80 
DefenseStep17	=85 
DefenseStep18	=90 
DefenseStep19	=95 
DefenseStep20	=100