body{
background-attachment: fixed;
  position: relative; /* on positionne le conteneur */
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 819px;
  text-align: left;
}
h2 {
    color: #30231d;
    font-family: 'Merriweather Sans';
    font-size: 45px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: -4px;
    margin-bottom: 72px;
}

#main{
width:1024px;
background:url(../img/51.jpg);
  height: 819px;

}

#content{
	background-position: center; 
	background-size:cover;
   max-width:1024px;
   background: rgba(0, 0, 0, 0.3);
   border: 20px solid rgba(0, 0, 0, 0.5);
   height: 780px;
   width:984px;

}

#footer{
margin-top:-18px;
}


/*** Table Styles **/

.table-fill {
  background: rgba(0, 0, 0, 0.5);
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;
  background:rgba(0, 0, 0, 0.5);
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:rgba(255, 255, 255, 0.5);
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}