/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #dbc1a7;
	background: #110915;
}

a:link, a:visited { color: #cfa3eb; text-decoration:none; } 
a:active, a:hover { color: #CCFF00; }

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 26px;
	color: #dbb4e0;
	font-weight: normal;
}

h2 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #dbc1a7;
	border-bottom: 1px dotted #663e17;
}

h3 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #dbb4e0;
	border-bottom: 1px dotted #663e17;
}

p {
	margin: 0px;
	padding: 0 0 10px 0;
	text-align: justify;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;	
}


/* ----- Form ----- */

form {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: right;
}

.inputfield {
	background: #ffffff;
	border: 1px solid #c9f5f6;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 14px;
	line-height: normal;
	padding: 4px;
	margin-bottom: 5px;
	width: 240px;
}

#searchfield {
	background: none;
	border: 1px solid #874d76;
	color: #ffffff;
	font-size: 13px;
	font-variant: normal;
	height: 15px;
	line-height: normal;
	padding: 4px;
	width: 230px;
}


#searchbutton {
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

.button {
	width: 60px;
	height: 25px;
}

/* end of form */


#templatemo_header_panel {
	width:100%;
	margin: 0 auto;
	height: 145px;
}

#templatemo_header_panel #templatemo_header_section {
	width: 960px;
	height: 145px;
	margin:0 auto;
	background: url(images/templatemo_top_panel_bg.jpg) center top no-repeat;
}

#templatemo_header_section #templatemo_title_section {
	float: left;
	width: 450px;
	padding: 90px 0 15px 30px;
	font-size: 60px;
	color: #d3c2f9;
}

#templatemo_header_section #templatemo_search_section {
	float: right;
	margin-right: 30px;
	width: 330px;
	padding: 70px 0 15px 0;
}

#templatemo_header_section #templatemo_search_section form {
	text-align: left;
}

#templatemo_menu_panel {
	width:100%;
	height: 59px;	
	margin: 0 auto;
	color: #ffffff;
}

#templatemo_menu_panel #templatemo_menu_section {
	width: 930px;
	height: 59px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
	background:  url(images/templatemo_menu_panel_bg.jpg) no-repeat;	
}

#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#templatemo_menu_section ul li {
	display: inline;
}

#templatemo_menu_section ul li a {
	float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-right: 1px solid #660e4c;	
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current {
	color: #d3c2f9;
}
/* end of menu */

/* content panel */
#templatemo_content_container {
	clear: both;
	overflow: hidden;
	width:100%;
	margin: 0 auto;
}

#templatemo_content_container #templatemo_content {
	overflow: hidden;
	height: 100%;
	width: 930px;
	padding: 30px 0 0 15px;
	margin:0 auto;
	background: url(images/templatemo_content_top.jpg) top center no-repeat;
}

#templatemo_content_left {
	float: left;
	width: 600px;
	margin-bottom: 15px;
}

#templatemo_content_right {
	float: right;
	width: 300px;
	margin-bottom: 15px;
}

#templatemo_content_left .templatemo_post {
	width: 600px;
	padding: 0;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border: 1px solid #1e1125;
	background: #180d1e;	
}

* html #templatemo_content_left .templatemo_post {
	margin-bottom: 15px;
}

.templatemo_post .post_title {
	width: 570px;
	height: 55px; /* padding 20px + */
	margin: 0px;
	padding: 20px 0px 5px 30px;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	background: url(images/templatemo_post_title_bg.jpg) no-repeat;
}

.templatemo_post .post_title .post_info {
	width: 100%;
	font-weight: normal;
	font-size: 12px;
	color: #dbc1a7;
	margin-top: 6px;
}

.templatemo_post .post_body {
	padding: 15px 30px;
}

.templatemo_post .post_body img {
	margin-bottom: 15px;
}

.templatemo_post .post_comment {
	padding: 5px 30px;
	font-weight: bold;
}

#templatemo_content_right .templatemo_right_section {
	clear: both;
	display:inline-block;
	width: 250px;
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	color: #dbc1a7;	
	background: #180d1e url(images/templatemo_right_section_bg.jpg) top center no-repeat;	
	border-bottom: 1px solid #361d40;	
}

#templatemo_content_right .templatemo_right_section ul {
	clear: both;
	margin: 0 0 0 15px;
	padding: 0px;
}

#templatemo_content_right .templatemo_right_section ul li {
	margin: 0 0 5px 0;
}

#templatemo_content_right .templatemo_right_section ul li a, a:hover {
	font-weight: normal;
}

#templatemo_bottom_panel {
	width:100%;
	margin: 0 auto;

}

#templatemo_bottom_panel #templatemo_bottom_section {
	overflow: hidden;
	height: 100%;
	width: 930px;
	margin:0 auto;
	padding: 40px 0 15px 30px;	
	background: url(images/templatemo_content_bottom.jpg) center bottom no-repeat;
	border-top: 1px solid #3d234d;
}

#templatemo_bottom_section .templatemo_bottom_section_content {
	display: inherit;
	float: left;
	width: 270px;
	padding-right: 20px;
	margin:0 0 15px 10px;
}

#templatemo_bottom_section .templatemo_bottom_section_content ul {
	margin: 0 0 0 10px;
	padding: 0 0 5px 10px;
}

#templatemo_bottom_section .templatemo_bottom_section_content li a {
	color: #dbc1a7;
}

#templatemo_footer_panel {
	width:100%;
	margin: 0 auto;
	background: #000000 url(images/templatemo_footer_bg_repeat.jpg) repeat-x;
	color: #ffffff;
}

#templatemo_footer_panel #templatemo_footer_section {
	width: 960px;
	margin:0 auto;
	padding: 20px 15px;	
	text-align: center;
	background: url(images/templatemo_footer_bg.jpg) no-repeat;
}
